/*--- NOSOTROS| ABOUT US SECTION ---*/

.banner__container {
    display: flex;
    background: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url(../images/about-us/banner4-min_4.png);
    background-size: cover;
    min-height: 40vh;
    margin-top: 4rem;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin: 65px 0px 0px 0px;
    width: 100%;
  
    .banner__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;
  
      h2 {
        font-size: 3em;
        letter-spacing: 2px;
        color: #fff;
        text-align: center;
        width: 100%;
  
        span {
          color: $main-color;
        }
      }
    }
  }
  
  .news__container {
    .content--news .box--news {
      .img--box {
        position: relative;
        width: 300px;
        height: 300px;
  
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .img--content {
        background: #111;
        color: #fff;
        text-align: center;
        font-weight: 200;
        padding: 5px;
      }
    }
  
    /*box reused class*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
    .title--news {
      /* width: 100%;
      text-align: center;
      margin: 10px 30px;
  
      h2 {
        font-size: 2em;
      } */
      @include subTitles();//mixin
    }
  
    .content--news {
      display: flex;
      position: relative;
      width: 300px;
      height: 300px;
      margin: 40px 20px 70px;
    }
  }